extends ../layout

block content
  .container

    h1.page-header 3.주관식 항목 추가
    p
      b by #{post.email}
      | 
      span at #{moment(post.createdAt).format('YYYY-MM-DD HH:mm:ss')} 
      | 
      | (조회수 #{post.read})
    p
      b 설문 제목
      |  :  #{post.title}
      
    label(for='content') 설문내용  
    p.well(id = 'content')= post.content
    form(role="search",action='/uri/blah' method='post').navbar-form.navbar-left

    
    p
      b 저장된 객관식 항목
    each objs in obj
      .form-group
        input(type="checkbox",id = 'check', value= objs.content)
        label(for='check') #{objs.content}
        
    p
      b 저장된 주관식 항목    
        
    each shts in sht
      .form-group
        label #{shts.content}
        input(type="text",id =shts.content)
    
    
    
    form(action='/posts/#{post._id}/short', method='POST')
      .form-group
        label(for='content') 주관식 항목 
        textarea.form-control(type='text', id='content', rows='1', name='content', placeholder='주관식 항목을 입력 하십시오')
      button.btn.btn-info 설문내용 저장  
    
      div.form-actions
        | 
        a.btn.btn-primary(href='/posts/' + post._id) Next
